.gradle
bin/
.DS_Store
.classpath
.settings
.project
build
nextflow/.nextflow.log
nextflow/.nextflow.log.1
nextflow/.nextflow.log.2
nextflow/.nextflow.log.3
nextflow/.nextflow.log.4
nextflow/.nextflow.log.5
nextflow/.nextflow.log.6
nextflow/.nextflow.log.7
nextflow/.nextflow.log.8
nextflow/.nextflow.log.9
nextflow/.nextflow
nextflow/work
results
create-scaffold.bash
